<div class="row">
    <div class="col-sm-12">

        {% if clusterName %}
        <h4>Cluster: {{ clusterName }}</h4>
        {% else %}
        <h4>Cluster: <a href="/cluster/{{cluster.name}}">{{ cluster.name }}</a></h4>
        {% endif %}

        <div class="row">
            <div class="col-md-3"><b>Name</b></div>
            <div class="col-md-3"><b>Host</b></div>
            <div class="col-md-3"><b>Port</b></div>
            <div class="col-md-3"><b>Health Check</b></div>
        </div>
        {% for node in cluster.nodes %}
        <div class="row">
            <div class="col-md-3">{{ node.name }}</div>
            <div class="col-md-3">{{ node.host }}</div>
            <div class="col-md-3">{{ node.port }}</div>
            <div class="col-md-3"><span class="glyphicon {% if node.alive %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span></div>
        </div>
        {% endfor %}

        <hr/>

    </div>
</div>