{% extends "layout/main.html" %}

{% block content %}
<div class="row mt">
    <div class="col-md-12 col-sm-12">

        <h4>Cluster: <a href="/cluster/{{clusterName}}">{{ clusterName }}</a></h4>
    </div>
    <div class="col-md-12 col-sm-12">
        <form method="post" action="/cluster/{{clusterName}}/key/edit">
            <input type="hidden" name="key" value="{{key.hash}}"/>
            Key: {{key.key}}<br/>
            {% if ( key.type == 'int' ) or ( key.type == 'string' ) %}
            Value: <input type="text" name="value" value="{{key.value|escape}}"/>
            {% else %}
            <pre>{{dump(key.value)}}</pre>
            {% endif %}
            <br/>
            <button type="submit">Edit New Key</button>
        </form>
    </div>
</div>
{% endblock %}